@model IEnumerable<Application.DTOs.Reservations.GetReservationDTO>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-danger">@TempData["AlertMessage"]</div>
}
<h1>Reservations</h1>

<table>
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				UserId
			</th>
			<th>
				BookId
			</th>
			<th>
				Book Title
			</th>
			<th>
				ReservedAt
			</th>
			<th>
				EndsAt
			</th>
			<th>
				Is Returned
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var reservation in Model)
		{
			<tr>
				<th>
					@reservation.Id
				</th>
				<th>
					@reservation.UserId
				</th>
				<th>
					@reservation.BookId
				</th>
				<th>
					@reservation.BookTitle
				</th>
				<th>
					@reservation.ReservedAt
				</th>
				<th>
					@reservation.EndsAt
				</th>
				<th>
					@reservation.IsReturned
				</th>
			</tr>
		}
	</tbody>
</table>
