@model IEnumerable<Application.DTOs.Reservations.GetReservationDTO>
<head>
	<link rel="stylesheet" href="~/css/MyReservations.css" />
</head>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-danger">@TempData["AlertMessage"]</div>
}
<div class="table-container">
	<h1>Reservations</h1>
	<a asp-action="GetUserReturnedReservations">Active reservations</a>
	@if (Model.Any())
	{
		<table>
			<thead>
				<tr>
					<th>
						Book Title
					</th>
					<th>
						Reserved At
					</th>
					<th>
						Ended At
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var reservation in Model)
				{
					<tr>
						<td data-label="Book Title">
							@reservation.BookTitle
						</td>
						<td data-label="Reserved">
							@reservation.ReservedAt
						</td>
						<td data-label="Due Date">
							@reservation.EndsAt
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<div class="empty-state">
			<h3>No reservations found</h3>
		</div>
	}
</div>