@model IEnumerable<Application.DTOs.Reservations.GetReservationDTO>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
<h1>Reservations</h1>
<a asp-action="GetUserReturnedReservations">Returned reservations</a> 
@if(Model.Any())
{
	<table>
		<thead>
			<tr>
				<th>
					Book Title
				</th>
				<th>
					ReservedAt
				</th>
				<th>
					EndsAt
				</th>
				<th>
					Return
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var reservation in Model)
			{
				<tr>
					<td>
						@reservation.BookTitle
					</td>
					<td>
						@reservation.ReservedAt
					</td>
					<td>
						@reservation.EndsAt
					</td>
					<td>
						<a asp-controller="ReservingBook" asp-action="ReturnBook" asp-route-Id="@reservation.Id">Return</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h3>No reservations is found</h3>
}
