@model Application.DTOs.Reservations.CreateReservationDTO

<head>
	<link rel="stylesheet" href="~/css/ReserveBook.css" />
</head>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">@TempData["AlertMessage"]</div>
}
<div class="reservation-container">

    <h1>Reserve book</h1>

    @if (Model.Book.PictureUrl != null)
    {
        <img src="@Model.Book.PictureUrl" alt="Book Cover" class="book-cover" />
    }

    <h3>Book Title: @Model.Book.Title</h3>

    <div class="reservation-rules">
        <h4>Умови Бронювання 📖</h4>
        <ul>
            <li>The book is booked for a period of <strong>14 days</strong>.</li>
            <li>You will receive a notification when the book is available for pickup at the library.</li>
            <li>If the book is kept for more than 14 days, a fine may be charged.</li>
        </ul>
    </div>

    <form asp-action="ReserveBook" method="post">
        <div class="form-group">
            <input asp-for="BookId" class="form-control" hidden />
            <span asp-validation-for="BookId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="UserId" class="form-control" hidden />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>

        <button asp-controller="ReservingBook" asp-action="ReserveBook" formmethod="post" class="reserve-button">
            Confirm Reservation
        </button>
    </form>

</div>