@model IEnumerable<Application.DTOs.BookNotificationRequests.BookNotificationRequestDTO>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-danger">@TempData["AlertMessage"]</div>
}
<h1>My Subscriptions</h1>

@if (Model.Any())
{
	<table>
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					UserId
				</th>
				<th>
					BookId
				</th>
				<th>
					Unsubscribe
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var subscription in Model)
			{
				<tr>
					<td>
						@subscription.Id
					</td>
					<td>
						@subscription.UserId
					</td>
					<td>
						@subscription.BookId
					</td>
					<td>
						<a asp-controller="Notification" asp-action="UnsubscribeFromBook" asp-route-requestId="@subscription.Id">Unsubscribe</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h3>No subscriptions is found</h3>
}
