@model IEnumerable<Application.DTOs.BookNotificationRequests.BookNotificationRequestDTO>
<head>
	<link rel="stylesheet" href="~/css/MySubscriptions.css" />
</head>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}
@if (TempData["AlertMessage"] != null)
{
	<div class="alert alert-danger">@TempData["AlertMessage"]</div>
}

<div class="table-container">
	<h1>My Subscriptions</h1>

	@if (Model.Any())
	{
		<table>
			<thead>
				<tr>
					<th>Subscription ID</th>
					<th>User ID</th>
					<th>Book ID</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var subscription in Model)
				{
					<tr>
						<td data-label="ID">
							@subscription.Id
						</td>
						<td data-label="User ID">
							@subscription.UserId
						</td>
						<td data-label="Book ID">
							@subscription.BookId
						</td>
						<td data-label="Action">
							<a asp-controller="Notification"
							   asp-action="UnsubscribeFromBook"
							   asp-route-requestId="@subscription.Id"
							   class="btn-action btn-danger">
								Unsubscribe
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<div class="empty-state">
			<h3>No subscriptions found</h3>
		</div>
	}
</div>