@model IEnumerable<Application.DTOs.Books.GetBookDTO>

<h1>Books</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Title
			</th>
			<th>
				Author
			</th>
			<th>
				IsAvailable
			</th>
			<th>
				Rating
			</th>
			<th>
				Reserve
			</th>
			<th>
				Details
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>
					@book.Title
				</td>
				<td>
					@book.Author.FullName
				</td>
				<td>
					@book.IsAvailable
				</td>
				<td>
					@book.Rating
				</td>
				<td>
					@if(!book.IsAvailable)
					{
						<a class="nav-link text-dark" asp-controller="Notification" asp-action="SubscribeToBookAvailability" asp-route-bookId="@book.Id">Subscribe To Book Availability</a>
					}
					else
					{
						<a class="nav-link text-dark" asp-controller="ReservingBook" asp-action="ReserveBook" asp-route-bookId="@book.Id">Reserve</a>
					}
				</td>
				<td>
					<a class="nav-link text-dark" asp-controller="Book" asp-action="GetBookById" asp-route-id="@book.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
